<header id="wn__header" class="header__area header__absolute" style="background-color: white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <div class="logo">
                    <a href="/Home/Index">
                        <img src="~/Content/@Const.IdAziendaMaster/logo.png" alt="logo images">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-block">
                <nav class="mainmenu__nav">
                    <ul class="meninmenu d-flex justify-content-start">
                        <li>
                            @Html.ActionLink("MARCHE", "Categories", "Product")
                        </li>
                        <li>
                            @Html.ActionLink("PRODOTTI", "List", "Product")
                        </li>

                        <li>
                            @Html.ActionLink("CARRELLO", "Show", "Cart")
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                <ul class="header__sidebar__right d-flex justify-content-end align-items-center">

                    @if (Session["User"] == null)
                    {
                        <li style="padding-right: 26px">
                            @Html.ActionLink("ACCEDI", "Login", "User")
                        </li>
                        <li style="padding-right: 26px">
                            @Html.ActionLink("REGISTRATI", "Register", "User")
                        </li>
                    }
                    else
                    {
                        <li style="padding-right: 26px">
                            @Html.ActionLink((Session["User"] as MyCommerceDemo.Database.tuteweb).utente.ToUpper(), "Menu", "User")
                        </li>

                        <li style="padding-right: 26px">
                            @Html.ActionLink("ESCI", "Logout", "User")
                        </li>
                    }

                    @*<li class="shopcart">
                            <a class="cartbox_active" href="/cart/show"></a>
                        </li>*@
                    <li class="shop_search"><a class="search__active" href="#"></a></li>

                </ul>
            </div>
        </div>
        <!-- Start Mobile Menu -->
        <div class="row d-none">
            <div class="col-lg-12 d-none">
                <nav class="mobilemenu__nav">
                    <ul class="meninmenu">
                        <li>
                            <a href="index.html">Home</a>
                            <ul>
                                <li><a href="index.html">Home Style Default</a></li>
                                <li><a href="index-2.html">Home Style Two</a></li>
                                <li><a href="index-box.html">Home Box Style</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About Page</a></li>
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="portfolio-three-column.html">Portfolio 3 Column</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout Page</a></li>
                                <li><a href="wishlist.html">Wishlist Page</a></li>
                                <li><a href="error404.html">404 Page</a></li>
                                <li><a href="faq.html">Faq Page</a></li>
                                <li><a href="team.html">Team Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop-grid.html">Shop</a>
                            <ul>
                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                <li><a href="shop-list.html">Shop List</a></li>
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                <li><a href="shop-no-sidebar.html">Shop No sidebar</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                            <ul>
                                <li><a href="blog.html">Blog Page</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Mobile Menu -->
        <div class="mobile-menu d-block d-lg-none">
        </div>
        <!-- Mobile Menu -->
    </div>
</header>
<!-- //Header -->
<!-- Start Search Popup -->
<div class="brown--color box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" method="get" action="/product/list">
        <div class="field__search">
            <input type="text" placeholder="Cerca nel sito..." id="search" name="search">
            <div class="action">
                <a href="#" onclick="document.getElementById('search_mini_form').submit()"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>Chiudi</span>
    </div>
</div>
<!-- End Search Popup -->
